
body {
    font-family: 'Helvetica', sans-serif;
    background-color: #f0f0f0;
    margin: 0; 
    padding: 0; 
}

header {
    text-align: center;
    background: radial-gradient(circle, #fcfcfc, #91ff00);
    padding: 5px;
    margin: 0; 
}

header h1 {
   
    color: #222; 
    font-size: 36px; 
    font-family: 'Bangers', cursive; 
}

main {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 70vh;
}




.image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

footer {
    text-align: center;
    background: radial-gradient(circle, #fcfcfc, #91ff00); /* Header background color */
    padding-top: 10px;
    margin-top: auto; 
    margin: 0;
}

footer a {
    color: #222; /* Footer text color */
    text-decoration: none;
}



.container {
    min-height: 60.3vh; /* Ensure the container fills at least the viewport height */

    display: flex;
    flex-direction: column;
    justify-content: center; 
    align-items: center; 
    text-align: center; 
    padding-top: 100px;


}
.imgcontainer{
    display: flex;
    justify-content: center; 
    text-align: center; 
    width: 400px; 
    height: 400px;
    overflow: hidden; 
    padding: 10px;
}

.container img {
    max-width: 500px; 
    max-height: 500px; 
}
.pCenter{
    display:flex;
    flex-direction: row;
}

p{
    font-size: xx-large;
    font-family: 'Bangers', cursive; 
}

.star-rating {
    font-size: 0;
    display: flex;
    
}

.star {
    font-size: 30px;
    cursor: pointer;
    display: flex;
    transition: color 0.3s;
}


#starOne:hover{
    color: yellow;
}
.next-button {
    background-color: #007bff; /* Background color for the button */
    color: #fff; /* Text color */
    padding: 10px 20px; /* Padding for the button */
    border: none; /* Remove the border */
    cursor: pointer; /* Add a pointer cursor on hover */
    font-size: 16px; /* Font size */
    border-radius: 5px; /* Rounded corners */
    size: 1px;

}

.next-button:hover {
    background-color: #0056b3; /* Change background color on hover */
}


.Rate-system{

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 10px;
    padding-bottom: 61.5px;

}