label[for="email"] {
padding-right: 35px;
  }
  label[for="pwd"] {
    padding-right: 3px;
}

.container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 75vh;
}


.form-group{
    padding: 10px;
}
